<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>babbage</title>
</head>
<body>
    <h1>babbage</h1>
    <p>Charles Babbage (1791–1871), el verdadero padre de la computación. ... La Máquina Analítica era una computadora, un hardware que podía cumplir múltiples funciones, según el software que se le hiciera correr. Fue el primer diseño de una computadora programable.</p>
    <img src="babbage.jpg">
</body>
</html>